/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-color: #add8e6;
   padding-top: 10px;
    /* TEST */
    height: 300px;
}
.header-top{ 
    background-color: #daa520;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    
    /* TEST */
    height: 20px;
}
.logo,
nav,
.login{
    /*Test*/
    border: 1px dotted black;
}

.logo{
    
    width: 20%;

}
nav{
    width: 60%;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    padding: 0 5px;
}


 .login{
    width: 20%;
    text-align: right;
 }
 .header-bottom{
    background-color: #00008b;
    height: 257px;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.square{
    width: 50%;
    height: 75%;
    background-color: #ee82ee;
    border: 1px dotted black;
}


 /* Main */
.first{

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     /*TEST*/
     height: 300px;
}
.columns{
    background-color: orange;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col1{
    border: 1px dotted black;
    background-color: #1e90ff ;
    height: 100%;
    width: 60%;
}
.col2{
    border: 1px dotted black;
    background-color: #ffc0cb;
    height: 100%;
    width: 40%;
}
.second{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
     /*TEST*/
     height: 300px;
}
.col1-2{
    border: 1px dotted black;
    background-color: #ffc0cb;
    height: 100%;
    width: 40%;
}

.col2-2{
    border: 1px dotted black;
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
}
.third{
    background-color:#d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
     /*TEST*/
     height: 500px;

}
.bigsquare{
    background-color: #228b22;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
}
.four{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
     /*TEST*/
     height: 300px;
}
.first-column{
    border: 1px dotted black;
    background-color: orange;
    height: 100%;
    width: 40%;
}
.second-column{
    border: 1px dotted black;
    background-color: green;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col4{
    border: 1px dotted white;
    
    height: 100%;
    width: 25%;
}
hr{
    color: grey ;
}

/*FOOTER*/
footer{
    background-color: greenyellow;
    padding-top: 30px;
     /* TEST */
     height: 80px;
}
.footer-head{
    background-color: #daa520;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* TEST */
    height: 50px;
}
.logofooter,
.bottom{
    border: 1px dotted black;
    background-color: pink;
}